@import 'fonts';
@import 'variables';
@import 'pod-styles';

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $background-color;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  color: $text-color;
  font-family: 'Muli', sans-serif;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $active-text-color;
  }
}

.section {
  background-color: $white;
  border-radius: 12px;
  margin: 20px 0;
}
