<vbox>
  <centered xs="12">
    <h1>Made possible by</h1>
  </centered>
</vbox>
<hbox>
  <centered xs="6">
    <h1>Ship Shape</h1>
  </centered>
  <centered xs="6">
    <h1>Tilde</h1>
  </centered>
</hbox>