<hbox>
  <centered xs="12">
    <h1>Made possible by</h1>
  </centered>
</hbox>
<hbox>
  <hbox xs="12" md="6">
    <a href="https://shipshape.io">
      <centered xs="12">
        {{svg-jar 'shipshape_full' height="50" width="200"}}
      </centered>
    </a>
  </hbox>
  <hbox xs="12" md="6">
    <a href="http://tilde.io">
      <centered xs="12">
        {{svg-jar 'tilde' height="50" width="175"}}
      </centered>
    </a>
  </hbox>
</hbox>