.cancer-sucks {
  font-size: 50px;
  font-weight: 900;
}

.right {
  background: linear-gradient(270deg, #C50B55, #EA5A0A);
  border-radius: 0px 0px 12px 12px;

  @media (min-width: 992px) {
    border-radius: 0px 12px 12px 0px;
  }
}
