.button {
  background: linear-gradient(90deg, #FFC851, #FFC439);
  border: none;
  border-radius: 12px;
  color: $white;
  font-size: 14pt;
  margin: 0 0 10px 0;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

.section {
  padding: 10px;
}

.section-wrapper {
  // Mobile we want no padding
  padding-left: 0px;
  padding-right: 0px;
}

img {
  height: auto;
  width: 80%;
}

img {
  margin: 0;
  padding: 0;
}


@media (min-width: 768px) {
  .col-sm-4 {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 0 31%;
    -ms-flex: 1 0 31%;
    flex: 1 0 31%;
    max-width: 31%;
  }
}
