.button {
  background: linear-gradient(90deg, #FFC851, #FFC439);
  border: none;
  border-radius: 12px;
  color: $white;
  font-size: 14pt;
  margin: 10px;
  padding: 14px 28px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

.section {
  padding: 10px;
}

.svg {
  margin: 10px;
}
