<hbox justify="between">
  <hbox xs="12" sm="4" class="section-wrapper">
    <hbox xs="12" class="section">
      <centered xs="6" sm="12">
        <img src="../img/combined-shirts.png">
      </centered>
      <centered xs="6" sm="12 align=end">
        <a href="https://devswag.com/products/ember-fundraiser-shirts" class="button">
          Shop Now
        </a>
      </centered>
    </hbox>
  </hbox>
  <hbox xs="12" sm="4" class="section-wrapper">
    <hbox xs="12" class="section">
      <centered xs="6" sm="12">
        <img src="../img/stickers.png">
      </centered>
      <centered xs="6" sm="12 align=end">
        <a href="https://devswag.com/products/ember-fundraiser-shirts" class="button">
          Shop Now
        </a>
      </centered>
    </hbox>
  </hbox>
  <hbox xs="12" sm="4" class="section-wrapper">
    <hbox xs="12" class="section">
      <centered xs="6" sm="12">
        <img src="../img/combined-tattoo.png">
      </centered>
      <centered xs="6" sm="12 align=end">
        <a href="https://devswag.com/products/ember-fundraiser-shirts" class="button">
          Shop Now
        </a>
      </centered>
    </hbox>
  </hbox>
</hbox>