<fill>
  <hbox xs="12" sm="4" class="section-wrapper">
    <hbox xs="12" class="section">
      <centered xs="6" sm="12">
        {{svg-jar 'shirts' class="svg"}}
      </centered>
      <centered xs="6" sm="12">
        <a href="https://devswag.com/products/ember-fundraiser-shirts" class="button">
          Shop Now
        </a>
      </centered>
    </hbox>
  </hbox>
  <hbox xs="12" sm="4" class="section-wrapper">
    <hbox xs="12" class="section">
      <centered xs="6" sm="12">
        {{svg-jar 'shirts' class="svg"}}
      </centered>
      <centered xs="6" sm="12">
        <a href="https://devswag.com/products/ember-fundraiser-shirts" class="button">
          Shop Now
        </a>
      </centered>
    </hbox>
  </hbox>
  <hbox xs="12" sm="4" class="section-wrapper">
    <hbox xs="12" class="section">
      <centered xs="6" sm="12">
        {{svg-jar 'shirts' class="svg"}}
      </centered>
      <centered xs="6" sm="12">
        <a href="https://devswag.com/products/ember-fundraiser-shirts" class="button">
          Shop Now
        </a>
      </centered>
    </hbox>
  </hbox>
</fill>