<hbox justify="between">
  <hbox xs="12" sm="4" class="section-wrapper">
    <hbox xs="12" class="section">
      <centered xs="6" sm="12">
        <a href="https://devswag.com/collections/fundraiser/products/ember-fundraiser-shirts" class="text-center">
          <img src="../img/combined-shirts.png">
        </a>
      </centered>
      <centered xs="6" sm="12 align=end">
        <a href="https://devswag.com/collections/fundraiser/products/ember-fundraiser-shirts" class="button">
          Shop Now
        </a>
      </centered>
    </hbox>

  </hbox>
  <hbox xs="12" sm="4" class="section-wrapper">
    <hbox xs="12" class="section">
      <centered xs="6" sm="12">
        <a href="https://devswag.com/collections/fundraiser/products/ember-fundraiser-stickers-4-pack"
           class="text-center">
          <img src="../img/stickers.jpg">
        </a>
      </centered>
      <centered xs="6" sm="12 align=end">
        <a href="https://devswag.com/collections/fundraiser/products/ember-fundraiser-stickers-4-pack" class="button">
          Shop Now
        </a>
      </centered>
    </hbox>
  </hbox>
  <hbox xs="12" sm="4" class="section-wrapper">
    <hbox xs="12" class="section">
      <centered xs="6" sm="12">
        <a href="https://devswag.com/collections/fundraiser/products/ember-fundraiser-tattoos-4-pack"
           class="text-center">
          <img src="../img/combined-tattoo.png">
        </a>
      </centered>
      <centered xs="6" sm="12 align=end">
        <a href="https://devswag.com/collections/fundraiser/products/ember-fundraiser-tattoos-4-pack" class="button">
          Shop Now
        </a>
      </centered>
    </hbox>
  </hbox>
</hbox>