& {
  color: $white;
}

&.section {
  margin: 20px 0 40px 0;
}

.the-team {
  font-size: 50px;
  font-weight: 400;
}

.left {
  background: linear-gradient(270deg, #FA6195, #6D99FF);
  padding: 10px 0;
}

.photo {
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  padding: 10px 0;
}

a {
  color: $text-color;
  svg {
    padding-bottom: 20px;
  }
  &:hover {
    color: $active-text-color;
    svg path {
      fill: $link-color;
    }
  }
}
