& {
  color: $white;
}

.the-team {
  font-size: 50px;
  font-weight: 400;
}

.left {
  background: linear-gradient(270deg, #FA6195, #6D99FF);
  padding: 10px 0;
}

.photo {
  border-radius: 50%;
  max-height: 200px;
  max-width: 200px;
}

a {
  color: $text-color;
  &:hover {
    color: $active-text-color;
  }
}
