<hbox>
  <hbox xs="12" md="6">
    <centered xs="12">
      <h1 class="the-team">The Team</h1>
    </centered>
    <hbox justify="center" xs="12">
      <hbox xs="10">
        <p>
          This effort is the brainchild of <a href="https://github.com/rwwagner90">Robert Wagner</a> from
          <a href="https://shipshape.io">Ship Shape</a>, a lifelong beard and <em>No Shave November</em> enthusiast, who
          noticed that the end of November had Ember in it. WAT!
        </p>
        <p>
          He reached out to <a href="https://github.com/wifelette">Leah Silber</a> to help make it a reality, and here
          we
          are. If you have an idea for how the Ember project can help do good, you should reach out too.
        </p>
      </hbox>
    </hbox>
  </hbox>

  <hbox xs="12" md="6" class="right">
    <hbox xs="12" sm="6">
      <hbox xs="12">
        <centered xs="12">
          <img src="../img/robert.jpeg" class="photo">
        </centered>
      </hbox>
      <hbox justify="center">
        <hbox xs="6">
          <hbox xs="6" justify="center">
            <a href="https://twitter.com/shipshapecode">
              {{svg-jar 'twitter' height="20" width="20"}}
            </a>
          </hbox>
          <hbox xs="6" justify="center">
            <a href="https://github.com/rwwagner90">
              {{svg-jar 'github-alt' height="20" width="20"}}
            </a>
          </hbox>
        </hbox>
      </hbox>
    </hbox>
    <hbox xs="12" sm="6">
      <hbox xs="12">
        <centered xs="12">
          <img src="../img/leah.jpeg" class="photo">
        </centered>
      </hbox>
      <hbox justify="center">
        <hbox xs="6">
          <hbox xs="6" justify="center">
            <a href="https://twitter.com/wifelette">
              {{svg-jar 'twitter' height="20" width="20"}}
            </a>
          </hbox>
          <hbox xs="6" justify="center">
            <a href="https://github.com/wifelette">
              {{svg-jar 'github-alt' height="20" width="20"}}
            </a>
          </hbox>
        </hbox>
      </hbox>
    </hbox>
  </hbox>
</hbox>