<hbox xs="12" justify="between">
  <fit>
    <box>
      Site Developed by
    </box>
    <a href="https://shipshape.io">
      <box>
        {{svg-jar 'shipshape_full' height="50" width="150"}}
      </box>
    </a>
  </fit>
  <fit>
    <box>
      Operations by
    </box>
    <a href="http://tilde.io">
      <box>
        {{svg-jar 'tilde' height="50" width="100"}}
      </box>
    </a>
  </fit>
  <fit>
    <box>
      Fullfillment by
    </box>
    <a href="http://tilde.io">
      <box>
        {{svg-jar 'tilde' height="50" width="100"}}
      </box>
    </a>
  </fit>
  <fit>
    Design based on open source design work by Acorns
  </fit>
</hbox>