<hbox xs="9" justify="between">
  <fit>
    <box class="sponsor">
      Site Developed by
    </box>
    <a href="https://shipshape.io">
      <box>
        {{svg-jar 'shipshape_full' height="50" width="150"}}
      </box>
    </a>
  </fit>
  <fit>
    <box class="sponsor">
      Operations by
    </box>
    <a href="http://tilde.io">
      <box>
        {{svg-jar 'tilde' height="50" width="100"}}
      </box>
    </a>
  </fit>
  <fit>
    <box class="sponsor">
      Fullfillment by
    </box>
    <a href="https://devswag.com/">
      <box>
        <img src="../img/devswag.png" width="140">
      </box>
    </a>
  </fit>
  <fit class="acorns">
    Site design based on open source design work by Acorns.
  </fit>
</hbox>
