<centered xs="12">
  <h1>Gallery</h1>
</centered>

<hbox justify="center">
  <centered xs="10">
  <p>Submit your photos supporting the cause and sporting your swag on Instagram. Use the hashtag
    <a href="https://www.instagram.com/explore/tags/embercares/">#embercares</a>
    to be featured in this gallery!
  </p>
  </centered>
</hbox>

<div id="instafeed"></div>
