<hbox xs="12">
  <centered xs="12">
    <h1>About CRI</h1>
  </centered>
</hbox>
<hbox xs="12" justify="center">
  <hbox xs="10" justify="center">
    <p>
      Since 1953, the  <a href="https://www.cancerresearch.org/">Cancer Research Institute</a> has led the field with support for immunotherapy research and clinical trials. Together with
      our donor, patient, and scientist communities, we continue to fund revolutionary breakthroughs
      to cure all types of cancer.
    </p>
    <p>
      Immunotherapy is the most promising cancer treatment of our time. With your support, we can fund more breakthrough research and more cures for cancers of all kinds.
    </p>
  </hbox>
</hbox>
